  <div class="nobr">
    <div class="field">
      <%= label :account, :acc_cd, t(flg) %>
    </div>
  </div>
  <div class="nobr">
    <div class="field">
      <% if account.present? %>
        <%= text_field :account, :acc_cd, id: flg + "_acc_cd" , :value => account.acc_cd %>
      <% else %>
        <%= text_field :account, :acc_cd, id: flg + "_acc_cd" %>
      <% end %>
    </div>
  </div>
  <div class="nobr">
    <div id="<%= flg %>_results" >
      <% if account.present? %>
        <% if I18n.locale == 'en' %>
          <%= account.acc_name_en %>
        <% else %>
          <%= account.acc_name_ja %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <%= select_tag :account,
      options_for_select(
        Account.all.map {|a| ["#{a.acc_name_ja} #{a.acc_name_en}", a.id]}),
      class: "chosen-select"
    %>
  </div>
